.about {
    background: #000;
    width: 100%;


}

.about>.container {
    padding: 30px 15px;
    width: 100%;
}

.about__box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1110px;
    min-height: 400px;
    background: no-repeat url(../../img/navandheader/photo_cropped\ 1.png ) center/cover;
}

.about__title {
    color: var(--title-primary-color);
    font-size: clamp(25px, 5vw, 55px);
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 64px;

    @media(width < 460px) {
        top: 33%;
        left: 33%;
    }

    @media(width < 380px) {
        top: 26%;
        left: 28%;
    }
}

.about__txt {
    max-width: 1110px;
    width: 100%;
    color: var(--txt-primary-color);
    padding-top: 30px;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: justify;
}