.burger{
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 50px 0;
    position: relative;
    
}

.burger__list{
    width: 100%;
    display: flex;
    padding:20px 0 ;
    gap: 30px;
    padding-left: 21px;
    background:rgba(41, 41, 41, 1) ;
    z-index: 10;
    top: 67px;
    position: sticky;
    flex-wrap: wrap;
    
    
    @media (max-width: 636px){
        gap: 25px;
    }
    
    @media (max-width: 480px){
        gap: 10px;
        padding:15px ;
    }
}
.burger__link{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family:var( --primary-font) ;
    font-weight: 400;
    color: var(--txt-primary-color);
    transition: 0.4s;
    padding-bottom: 18px;
    position: relative;
    
    &::after{
        content: "";
        width: 0%;
        height: 2px;
        background:var(--txt-primary-color) ;
        position: absolute;
        bottom: -30%;
        transition: 0.4s;
    }
    &:hover::after{
        width: 100%;
    }
}

.burger__cards{
    background:var(--secondary-color) ;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 30px;
    padding: 15px;
    
    @media (max-width: 992px){
        gap: 25px;
        padding: 15px;
        grid-template-columns:repeat(2,1fr) ;
    }
    
    @media (max-width: 636px) {
        grid-template-columns:repeat(1,1fr) ;
        grid-column:2 span ;
    }
}
.burger__card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--txt-primary-color);
    border-radius: 1px;
    padding: 15px 16px;
    background: var( --primary-color);
    
   
}
.burger__card-img{
    transition: 0.4s;
    width: 100%;
  
}
.burger__box{
    position: relative;
    transition: 0.6s;
    
    &::before {
        content: url(../../img/burger/korzina.svg);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background:rgba(105, 207, 23, 0.9) ;
        z-index: 2;
        position: absolute;
        opacity: 0;
    }
    &:hover::before{
        opacity: 1;
    }
    &:hover .burger__card-korz{
        opacity: 1;
    }
}

.burger__card-title{
    font-size:19px ;
    font-weight: 700;
    color: var(--txt-primary-color);
    transition: 0.4s;
}


.burger__card-korz{
    position: absolute;
    top: 36%;
    left: 36%;
    z-index: 3;
    opacity: 0;
}


.burger__card-title{
    font-size:19px ;
    font-weight: 700;
    color: var(--txt-primary-color);
    transition: 0.4s;
}

.burger__card-txt{
    font-size:19px ;
    font-weight: 400;
    color: var(--txt-primary-color);
    line-height: 25px;
}