.footer {
    background: linear-gradient(180deg, #000000 0%, rgba(65, 125, 17, 1) 100%);
    width: 100%;
}

.footer>.container {
    display: flex;
    flex-direction: column;
}


.footer__box {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
    @media (max-width: 480px){
        justify-content: center;
        gap: 20px;
    } 
}

.footer__box a {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--txt-primary-color);
  
}
.footer__box a:hover{
    text-decoration: underline;
}
.footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 81px 50px;
    width: 100%;
    
    
    @media (max-width: 480px){
        flex-wrap: wrap;
        justify-content: center;
        
    } 
}

.footer__list {
    display: flex;
    max-width: 240px;
    gap: 20px;
    width: 100%;
    
    @media (max-width: 480px){
        gap: 15px;
    }
}

.footer__link {
    color: var(--txt-primary-color);
    font-size:clamp(14px,5vw,20px);
    font-weight: 400;
    font-family: var( --secondary-font);
    transition: 0.4s;
}
.footer__link:hover{
    display: inline-block;
    transform: translateY(5px);
    
}

.footer__last-box {
    background: rgba(26, 52, 6, 1);
}

.footer__last-txt {
    /* max-width: 344px; */
    padding: 19px;
    display: flex;
    justify-content: center;
    color: var(--txt-primary-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var( --secondary-font);
}