/* header nav2 */
.header__line >.container {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    align-items: center;
}

.header__line {
    position: sticky;
    z-index: 11;
    top: 0;
    width: 100%;
    background:#000 ;
    border-top: 1px solid rgba(125, 115, 115, 0.366);
    border-bottom: 1px solid rgba(125, 115, 115, 0.5);
}

.header__nav {
    display: flex;
    
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    font-size: 18px;
    color: #fff;
    transition: 0.4s;
    padding: 22px 10px;
}
.header__nav-link:hover{
    background:rgba(105, 207, 23, 0.75) ;
}
/* header nav2 */
.header{
    background: url(../../img/navandheader/headerbg.png)no-repeat center center / cover;
    max-width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header >.container{
    display: flex;
    flex-direction: column;
    padding-top:150px ;
}
.header__bg-title{
    font-size: 72px;
    color: var(--title-primary-color);
    font-weight: 900;
}
.header__bg-subtitle{
    font-size: 36px;
    color: var(--title-primary-color);
}
.header__bg-txt{
    font-size: 18px;
    color:var(--txt-primary-color) ;
    padding-top: 18px;
    opacity: 0.7;
}
.header__bg-box{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.header__bg-price{
    max-width: 285px;
    font-size: 50px;
    font-weight: 100;
    color:var(--txt-primary-color) ;
    background:rgba(105, 207, 23, 0.5);
    padding: 32px 76px;
}
.header__bg-btn{
    max-width: 255px;
    font-size: 18px;
    font-weight: 400;
    color:var(--txt-primary-color) ;
    background:linear-gradient(45deg,rgba(105, 207, 23, 1),rgba(65, 125, 17, 1));
    padding: 15px 70px;
    border-radius: 6px;
    transition: 0.4s;
   
}
.header__bg-btn:hover {
 display: inline-block;
 transform: translateY(5px);
}


.nav__menu{
    @media(width < 768px){
       position: absolute; 
    }
}